.section{
    display: block;
    width: 100%;
    margin: 2em auto;
    padding-bottom: 0.02em;
}
.text-center{
    text-align: center;
}

.greenworks .grid{
    display: grid !important;
}

.greenworks .grid-cols-4{
    grid-template-columns: repeat(4, minmax(0,1fr));
}
.gap-x-theme{
    column-gap: 32px;
}
.gap-y-6{
    row-gap: 2.4 rem;
}

.col-span-4{
    grid-column: span 4 / span 4;
}
.label{
    display: block;
    margin: 0 0 0.8rem;
    font-size: 0.88em;
    font-weight: 700;
    text-align: start;
}
.is-required>label:after {
    content: " *";
}
.w-full{
    width: 100%;
}

.greenworks .input,.greenworks select {
    max-width: 100%;
    margin: 0;
    padding: 11px 24px;
    transition: border-color .2s,box-shadow .2s,outline .2s;
    border: 2px solid rgba(36,39,42,0.2);
    border-radius: 0;
    background-color: #fff;
    color: #24272a;
    font-size: .88em;
    line-height: 1.2em;
}
.btn {
    display: inline-block;
    position: relative;
    max-width: 100%;
    padding: 12px 26px;
    transition: opacity .6s ease,color .6s ease,background-position .4s ease-out;
    border-radius: 14px 0;
    font-size: .88em;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    text-transform: none;
    -webkit-appearance: none;
    appearance: none;
    word-break: break-word;
}
.btn--primary{
    border: 2px solid #046a38;
    outline-color: #046a38;
    outline-offset: 3px;
    background: #046a38 linear-gradient(104deg,#046a38 60%,#046a38 60% 100%) no-repeat 100% 100%;
    background-size: 300% 100%;
    color: #fff;
}

@media (min-width: 769px){
    .md\:col-span-2{
        grid-column: span 2/ span 2;
    }
}

@media (min-width: 1024px){
    .lg\:col-span-1{
        grid-column: span 1/ span 1;
    }
}