<link rel="stylesheet" href="{{ 'gwt-global.css' |  asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'request-demo.js' | asset_url }}" defer="defer"></script>
<section id="{{section.id}}" class="section">
<request-demo class="greenworks">
   <div class="container">
      <form id="request-demo" method="POST" class="form reading-width" charset="UTF-8" enctype="multipart/formdata">
      <div class="form__grid grid grid-cols-4 gap-x-theme gap-y-6">
        <div class="col-span-4">
          <div class="w-full rte">
            <h2 class="h2 text-center uppercase">Request A Demo</h2>
            <p><strong>LET US KNOW WHICH COMMERCIAL PRODUCT YOU ARE INTERESTED IN DEMONSTRATING WITH ONE OF OUR LOCAL PRODUCT SPECIALISTS!</strong></p>
          </div>
        </div>

        <div class="col-span-4 md:col-span-2 is-required">
          <label class="label" for="name">Name</label>
          <input type="text" class="input w-full" id="name" name="name" aria-required="true" required autocomplete="name" />
        </div>

        <div class="col-span-4 md:col-span-2 is-required">
          <label class="label" for="company-name">Company Name</label>
          <input type="text" class="input w-full" id="company-name" name="company_name" aria-required="true" required />
        </div>

        <div class="col-span-4 is-required">
          <label class="label" for="company-address">Company Address</label>
          <input type="text" class="input w-full" id="company-address" name="company_address" aria-required="true" required />
        </div>

       <div class="col-span-4 is-required">
         <div class="grid grid-cols-4 gap-x-theme gap-y-6">
            <div class="col-span-4 lg:col-span-1">
              <label class="label" for="apt-suite">Apt/Suite</label>
              <input type="text" class="input w-full" id="apt-suite" name="apt_suite" />
            </div>
            <div class="col-span-4 lg:col-span-1">
              <label class="label" for="company-city">City</label>
              <input type="text" class="input w-full" id="company-city" name="city" aria-required="true" required />
            </div>
            <div class="col-span-4 lg:col-span-1">
              <label class="label" for="postal-code">Postal Code/ZIP</label>
              <input type="text" class="input w-full" id="postal-code" name="postal_code" aria-required="true" required />
            </div>

            <div class="col-span-4 lg:col-span-1">
              <label class="label" for="province">Province</label>
              <div class="select relative">
                <select id="province" name="province" class="w-full input">
                        <option value="Ontario">Ontario</option>       
                        <option value="Quebec">Quebec</option>
                        <option value="Alberta">Alberta</option>
                        <option value="British Columbia">British Columbia</option>
                        <option value="Manitoba">Manitoba</option>
                        <option value="Saskatchewan">Saskatchewan</option>
                        <option value="Nova Scotia">Nova Scotia</option>
                        <option value="New Brunswick">New Brunswick</option>
                        <option value="Yukon">Yukon</option>
                        <option value="Northwest Territories">Northwest Territories</option>
                        <option value="Nunavut">Nunavut</option>
                        <option value="Newfoundland &amp; Labrador">Newfoundland &amp; Labrador</option>
                        <option value="Prince Edward Island">Prince Edward Island</option>
                </select>
              </div>
            </div>

         </div>
        </div>

         <div class="col-span-4 md:col-span-2 is-required">
          <label class="label" for="email">Email</label>
          <input type="email" class="input w-full" id="email" name="email" aria-required="true" required autocomplete="email" />
         </div>

       <div class="col-span-4 md:col-span-2 is-required">
          <label class="label" for="phone">Phone</label>
          <input type="tel" class="input w-full" id="phone" name="phone" autocomplete="tel" aria-required="true" required pattern="[0-9\-]*" />
       </div>

       <div class="col-span-4 md:col-span-2 is-required">
          <label class="label" for="products">Products</label>
          <div class="relative">
           <select class="w-full input multiple-dropdown" name="products" id="products" multiple>
                 
                   <option value="Lawn Mowers">Lawn Mowers</option>
                 
                   <option value="String Trimmers &amp; Edgers">String Trimmers &amp; Edgers</option>
                 
                   <option value="Leaf Blowers">Leaf Blowers</option>
                 
                   <option value="Chainsaws">Chainsaws</option>
                 
                   <option value="Hedge Trimmers">Hedge Trimmers</option>
                 
                   <option value="Tillers/Cultivators">Tillers/Cultivators</option>
                 
                   <option value="Zero Turn Mowers">Zero Turn Mowers</option>
                 
                   <option value="Utility Vehicles">Utility Vehicles</option>
                 
                   <option value="Power Tools">Power Tools</option>
                 
                   <option value="Robotic Lawn Mowers">Robotic Lawn Mowers</option>
                 
                   <option value="Snow Throwers">Snow Throwers</option>
                 
               </select>
          </div>
       </div>

       <div class="col-span-4 is-required">
          <input type="checkbox" name="terms_conditions" id="terms" aria-required="true" required value=true>
             <label class="label" for="terms" style="display: inline-block;">
               <a href="/policies/terms-of-service">Accept Terms and conditions</a>
             </label>
       </div>

       <div class="col-span-4">
           <label class="label" for="comments">Comments: (for example, which model you want to demo)</label>
           <textarea class="input w-full" id="comments" name="comments" rows="8">           
           </textarea>
       </div>

         <div class="mt-6">
          <button class="btn btn--primary w-full md:w-auto" type="submit">Submit Request</button>
        </div>
        
      </div>
    </form>
    <div id="responseMessage"></div>
  </div>
</request-demo>
</section>

{% schema %}
{
  "name": "Request Demo",
  "target": "section",
  "settings": [

  ]
}
{% endschema %}
